<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<!--<div class="user-profile" style="background: url(../../../../assets/images/background/HGZ-1-Oaxaca1.jpg) no-repeat;">-->
<div class="user-profile" style="background: #e6f1ea">
  <!-- User profile image -->
  <div class="profile-img">
    <img src="assets/images/users/man.png" alt="user" *ngIf="masculino">
    <img src="assets/images/users/woman.png" alt="user" *ngIf="femenino">
    <img src="assets/images/users/otro.png" alt="user" *ngIf="otro">
  </div>
  <!-- User profile text-->
  <!-- ============================================================== -->
  <!-- Profile - style you can find in header.scss -->
  <!-- ============================================================== -->
  <div class="profile-text">
    <a [matMenuTriggerFor]="sdprofile" class="">{{usuarioLog.Nombre}} {{usuarioLog.AppellidoP}}
      <i class="ti-angle-down font-12 m-l-5"></i>
    </a>
  </div>
  <mat-menu #sdprofile="matMenu" class="mymegamenu">
    <!--    <button mat-menu-item (click)="configuracion()">
          <mat-icon>settings</mat-icon>
          Configuraciones
        </button>-->
    <button mat-menu-item (click)="cuenta()">
      <mat-icon color="primary">account_box</mat-icon>
      Cuenta
    </button>
    <!--    <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          Notificaciones
        </button>-->
    <button mat-menu-item (click)="cerrarSesion()">
      <mat-icon color="warn">exit_to_app</mat-icon>
      Cerrar sesión
    </button>
  </mat-menu>
</div>

<mat-nav-list appAccordion>
  <mat-list-item appAccordionLink *ngFor="let menuitem of usuarioLog.MenuItem" routerLinkActive="selected"
                 group="{{menuitem.state}}">

    <a class="" appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'"
       (click)="closeSideNv()">
      <mat-icon>{{ menuitem.icon }}</mat-icon>
      <span>{{ menuitem.name }}</span>
      <span fxFlex></span>
      <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
    </a>

    <a class="" appAccordionToggle href="{{menuitem.state}}" *ngIf="menuitem.type === 'extLink'">
      <mat-icon>{{ menuitem.icon }}</mat-icon>
      <span>{{ menuitem.name }}</span>
      <span fxFlex></span>
      <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
    </a>  
    
    <a class="" appAccordionToggle href="{{menuitem.state}}" target="_blank" *ngIf="menuitem.type === 'extTabLink'">
      <mat-icon>{{ menuitem.icon }}</mat-icon>
      <span>{{ menuitem.name}}</span>
      <span fxFlex></span>
      <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
    </a>

    <a class="" appAccordionToggle href="javascript:" *ngIf="menuitem.type === 'sub'">
      <mat-icon>{{ menuitem.icon }}</mat-icon>
      <span>{{ menuitem.name }}</span>
      <span fxFlex></span>
      <!--      <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>-->
      <mat-icon class="dd-icon">keyboard_arrow_down</mat-icon>
    </a>
    
    <mat-nav-list class="sub-item" *ngIf="menuitem.type === 'sub'">
      <mat-list-item *ngFor="let childitem of menuitem.children" routerLinkActive="selected">
        <a [routerLink]="['/', menuitem.state, childitem.state ]" *ngIf="childitem.type === 'link'" class="relative"
           routerLinkActive="selected" (click)="closeSideNv()">{{ childitem.name}}</a>
      </mat-list-item>
      <mat-list-item *ngFor="let childitem of menuitem.children">
        <a class="" href="javascript: void(0);" *ngIf="childitem.type === 'subchild'" (click)="clickEvent()"
           [ngClass]="status ? 'selected' : ''">
          <span>{{ childitem.name }}</span>
          <span fxFlex></span>
          <mat-icon class="dd-icon">keyboard_arrow_down</mat-icon>
        </a>
        <mat-nav-list class="child-sub-item" *ngIf="childitem.type === 'subchild'">
          <mat-list-item *ngFor="let child of childitem.subchildren" routerLinkActive="selected">
            <a [routerLink]="['/', menuitem.state, childitem.state, child.state ]"
               routerLinkActive="selected">{{child.name}}</a>
          </mat-list-item>
        </mat-nav-list>
      </mat-list-item>

    </mat-nav-list>

    <div class="saperator text-muted" *ngIf="menuitem.type === 'separator'">
      <span>{{ menuitem.name }}</span>
    </div>
  </mat-list-item>
</mat-nav-list>
