.main-containerUsuario {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  height: auto;
}
.div-izquierdo-user{
  flex: auto;
  max-width: 45%;
}
.div-derecho-user{
  flex: auto;
  max-width: 45%;

}
