<mat-card *ngIf="ticket">
  <mat-card-title class="p-10 p-r-20 p-l-20">Solicitud Aceptada</mat-card-title>
  <mat-card-subtitle class="p-10 p-r-20 p-l-20" *ngIf="id">Folio de
    solicitud:  {{id.substring((id.length - 6), (id.length))}}</mat-card-subtitle>
  <mat-card-content>
    <div>
      <p>Tu solicitud ha sido aprobada, esto siignifica que ya no podras editar tu solicitud, pero si
        deseas editarla por favor envia un coreo electronico a esta direccion,
        <strong>ramon.moncada@imss.gob.mx</strong>.
        Con la siguiente información: <br>
        - Folio de solicitud <br>
        - Motivo del porque deseas editar
      </p>
    </div>
    <div class="responsive-table" disabled="">
      <mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="Clave">
          <mat-header-cell fxFlex="10px" *matHeaderCellDef mat-sort-header>Clave Cuadro Basico</mat-header-cell>
          <mat-cell fxFlex="10px" *matCellDef="let row"> {{row.ClaveId}}</mat-cell>
          <mat-footer-cell *matFooterCellDef> Subtotal</mat-footer-cell>

        </ng-container>
        <!-- Progress Column -->
        <ng-container matColumnDef="Descripcion">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Descripcion.substring(0, 160)}}</mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>

        </ng-container>
        <!-- Progress Column -->
        <ng-container matColumnDef="Servicio">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Servicio</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.ServiciosProforma.Descripcion}}</mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="Precio">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Precio</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Precio | currency}}</mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <!-- Color Column -->
        <ng-container matColumnDef="Cantidades">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad solicitada</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.CantidadSolicitada}}</mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <!-- Color Column -->
        <ng-container matColumnDef="Aprobada">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad Aprobada</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.CantidadAprobada}}</mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <!-- Color Column -->
        <ng-container matColumnDef="CPM">
          <mat-header-cell *matHeaderCellDef mat-sort-header>C P M</mat-header-cell>
          <mat-cell *matCellDef="let row">{{(row.CantidadSolicitada / 12) | number:'1.0-0'}}</mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <!-- Color Column -->
        <ng-container matColumnDef="Total">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Total | currency}}</mat-cell>
          <mat-footer-cell *matFooterCellDef>{{subtotal | currency}}</mat-footer-cell>
        </ng-container>
        <!-- Color Column -->
        <ng-container matColumnDef="Editar">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Editar</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-button value="left" (click)="openDialogCantidad(row)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <!-- Color Column -->
        <ng-container matColumnDef="Eliminar">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Eliminar</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-button value="left" (click)="eliminarClave(row)" color="warn">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="!ticket">
  <mat-card-title class="p-10 p-r-20 p-l-20">Editar Solicitud</mat-card-title>
  <mat-card-subtitle class="p-10 p-r-20 p-l-20" *ngIf="id">Folio de solicitud:
    <span>&nbsp;</span> {{id.substring((id.length - 6), (id.length))}}</mat-card-subtitle>
  <mat-card-content>
    <div class="editarPrincipal">
      <div class="servicios">
        <mat-form-field appearance="outline">
          <mat-label>Selecciona un servicio</mat-label>
          <mat-select style="max-width: 90%" [(value)]="valorServicio"
                      (selectionChange)="valorSelecServicios(valorServicio)">
            <mat-option *ngFor="let servicio of selectServicios" [value]="servicio.ServiciosProforma.Id">
              {{servicio.ServiciosProforma.Descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="unidad">
        <mat-form-field appearance="outline" *ngIf="solicitud">
          <mat-label>Unidad Médica</mat-label>
          <label style="text-align: center">
            <input matInput [value]="solicitud.UnidadMed.DenominacionUni" [readonly]="true">
          </label>
        </mat-form-field>
      </div>
    </div>
    <button mat-flat-button color="primary" (click)="openDialog()" [disabled]="botonAgregar">
      Agregar Claves
      <mat-icon aria-label="Example icon-button with a heart icon">add_circle</mat-icon>
    </button>
  </mat-card-content>
  <mat-card-content>
    <div class="responsive-table">
      <mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="Clave">
          <mat-header-cell fxFlex="10px" *matHeaderCellDef mat-sort-header>Clave Cuadro Basico</mat-header-cell>
          <mat-cell fxFlex="10px" *matCellDef="let row"> {{row.ClaveId}}</mat-cell>
          <mat-footer-cell *matFooterCellDef> Subtotal</mat-footer-cell>

        </ng-container>
        <!-- Progress Column -->
        <ng-container matColumnDef="Descripcion">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Descripcion.substring(0, 160)}}</mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>

        </ng-container>
        <!-- Progress Column -->
        <ng-container matColumnDef="Servicio">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Servicio</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.ServiciosProforma.Descripcion}}</mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="Precio">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Precio</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Precio | currency}}</mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <!-- Color Column -->
        <ng-container matColumnDef="Cantidades">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad Solicitada</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.CantidadSolicitada}}</mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <!-- Color Column -->
        <ng-container matColumnDef="Aprobada">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad Aprobada</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.CantidadAprobada}}</mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <!-- Color Column -->
        <ng-container matColumnDef="CPM">
          <mat-header-cell *matHeaderCellDef mat-sort-header>C P M</mat-header-cell>
          <mat-cell *matCellDef="let row">{{(row.CantidadSolicitada / 12) | number:'1.0-0'}}</mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <!-- Color Column -->
        <ng-container matColumnDef="Total">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Total | currency}}</mat-cell>
          <mat-footer-cell *matFooterCellDef>{{subtotal | currency}}</mat-footer-cell>
        </ng-container>
        <!-- Color Column -->
        <ng-container matColumnDef="Editar">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Editar</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-button value="left" (click)="openDialogCantidad(row)" color="primary"
                    [disabled]="comprobarAprobacion(row)">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <!-- Color Column -->
        <ng-container matColumnDef="Eliminar">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Eliminar</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-button value="left" (click)="eliminarClave(row)" color="warn"
                    [disabled]="comprobarAprobacion(row)">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef=" displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row>
      </mat-table>
    </div>
  </mat-card-content>
  <mat-card-content class="bg-light">
    <div class="d-flex align-items-center">

      <div class="text-right ml-auto">
        <h6 class="text-uppercase text-md ma-0 text-bold">Subtotal :</h6>
        <h6 class="text-uppercase text-md ma-0 text-bold">IVA (16%) :</h6>
        <h6 class="text-uppercase text-sm ma-0 text-bold">Total :</h6>
      </div>
      <div class="m-l-10">
        <h4 class="font-medium">{{subtotal | currency}}</h4>
        <h4 class="font-medium">{{iva | currency}}</h4>
        <h4 class="font-medium">{{ totalSolicitud | currency}}</h4>
      </div>
    </div>
  </mat-card-content>
</mat-card>
