.mat-table {
  .mat-column-add {
    justify-content: center !important;
  }

  .mat-column-edit {
    justify-content: center !important;
  }

  .mat-column-view {
    justify-content: center !important;
  }

  .mat-column-delete {
    justify-content: center !important;
  }

  .mat-column-all {
    justify-content: center !important;
    flex: 0 0 8%;
  }
}
